@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.paper {
    width: 50svw;
    width: 50vw;
    height: 70vh;
    display: flex;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    min-height: 500px;
}

.paperZone {
    width: 50svw;
    width: 50vw;
    height: 70vh;
    position: relative;
    max-height: 70vh;
}

@media only screen and (max-width: 1000px) {
    .paper {
        width: 90vw;
        height: 90vh;
        min-height: 600px;
    }

    .paperZone {
        width: 90vw;
        height: 90vh;
    }
}